<div
    class="
        d-flex
        flex-column
        align-items-center align-items-sm-start
        px-3
        pt-2
        text-white
        min-vh-100
        position-fixed
    "
    >
    <a
        href={{path('admin-home')}}
        class="
        d-flex
        align-items-center
        pb-3
        mb-md-0
        me-md-auto
        text-white text-decoration-none
        "
    >
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul
        class="
        nav nav-pills
        flex-column
        mb-sm-auto mb-0
        align-items-center align-items-sm-start
        "
        id="menu"
    >
        <li class="nav-item">
        <a id="homeSection" href={{path('admin-home')}} class="nav-link align-middle px-0">
            <i class="fs-4 bi-house"></i>
            <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
        </li>
        <li>
        <a
            href="#customerSection"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle"
        >
            <i class="fs-4 bi-speedometer2"></i>
            <span class="ms-1 d-none d-sm-inline">Documents</span>
        </a>
        <ul
            class="collapse nav flex-column ms-1"
            id="customerSection"
            data-bs-parent="#menu"
        >
            <li class="w-100">
            <a href={{path("book_form_index")}} class="nav-link px-0 allDatas">
                <span class="d-none d-sm-inline">Books</span></a
            >
            </li>
            <li>
            <a href={{path("cd_index")}} class="nav-link px-0 statistics">
                <span class="d-none d-sm-inline">Cd's</span></a
            >
            </li>
        </ul>
        </li>
        <li>
        <a
            href={{path("author_form_index")}}
            class="nav-link px-0 align-middle"
        >
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">Authors</span>
        </a>
        </li>
        <li>
        <a
            href="#submenu2"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle"
            title="Le contenu de cette liste dépend du rôle de l'utilisateur"
        >
            <i class="fs-4 bi-bootstrap"></i>
            <span class="ms-1 d-none d-sm-inline">Users</span></a
        >
        <ul
            class="collapse nav flex-column ms-1"
            id="submenu2"
            data-bs-parent="#menu"
        >

            <li class="w-100">
            <a href={{path("user_index")}} class="nav-link px-0">
                <span class="d-none d-sm-inline">All</span></a
            >
            </li>
            <li>
                <a href="#" class="nav-link px-0">
                    <span class="d-none d-sm-inline">Visitors</span>
                </a>
            </li>
            <li>
            <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline">Members</span></a
            >
            </li>
        </ul>
        </li>
        <li>
        <a
            href="#submenu3"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle"
        >
            <i class="fs-4 bi-grid"></i>
            <span class="ms-1 d-none d-sm-inline">Admin</span>
        </a>
        <ul
            class="collapse nav flex-column ms-1"
            id="submenu3"
            data-bs-parent="#menu"
        >
            <li class="w-100">
            <a href={{path('admin_employee_index')}} class="nav-link px-0">
                <span class="d-none d-sm-inline">Staff</span></a
            >
            </li>
            <li>
            <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline">Product</span> 2</a
            >
            </li>
            <li>
            <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline">Product</span> 3</a
            >
            </li>
            <li>
            <a href="#" class="nav-link px-0">
                <span class="d-none d-sm-inline">Product</span> 4</a
            >
            </li>
        </ul>
        </li>
    </ul>
    <hr />
    <div class="dropdown pb-4">
        <a
        href="#"
        class="
            d-flex
            align-items-center
            text-white text-decoration-none
            dropdown-toggle
        "
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >
        <img src={{ asset('admin/assets/img/peralta.jpg') }}
        alt="peralta" width="30" height="30" class="rounded-circle" />

        <span class="d-none d-sm-inline mx-1">Jonathan</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
    </div>
</div>