{% extends "back-office/base.html.twig" %} {% block body %}

<h1>Register a new employee</h1>

{{ form_start(registrationForm) }}
{#{{ form_row(registrationForm.email) }}
{{
  form_row(registrationForm.plainPassword, {
    label: 'Password'
  })
}}
{{ form_row(registrationForm.roles) }}#}
<button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}
{% endblock %}
