{% extends "front-office/base.html.twig" %}
{% block body %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
      {% if infos.access == true %}
        Bienvenue {{user.username}}
      {% else %}
        Merci de payer {{ infos.fees }} € pour accéder à cette zone
        <div class="row">
          <div class="col">
            {# <a class="btn btn-success btn-block" href={{path('member_area_payment')}}>Payer</a> #}
          </div>
        </div>
      {% endif %}
        <br>
        {% if penaltyFee != NULL %}
          Montant de l'amende : {{ penaltyFee }} €€€


          {# <form method="POST" action={{ path('member_area_payment-penaltyFee') }}>
            <input type="hidden" value={{penaltyFee}} name="amount">
            <input type="submit" value="Payer">
          </form> #}



        {% endif %}

        {% if form != NULL %}
            {{ form_start(form, {'action': path( formAction )}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
          {% endif %}

        {% for message in app.flashes('paymentStatus') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

    </div>
  </div>
</div>
{% endblock %}

